.game {
  display: flex;
  justify-content: center;
  height: calc(100vh - 120px);
  background-color: darkgray;
}

.game__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.game__counter {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 200px;
  font-weight: 650;
}
